.inventory-function-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
ion-card {
  margin: 4px 4px 4px 4px;
}
ion-card ion-item {
  --padding-start: 8px;
  --padding-top: 8px;
  --padding-bottom: 8px;
}
ion-card ion-item ion-thumbnail {
  background: #F5F5F5;
  border: 2px solid #F5F5F5;
  margin-top: 0px;
  margin-left: 0px;
}
.transparent {
  background-color: transparent !important;
}

.barcode-scanner {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.barcode-scanner ion-header {
  --background: transparent !important;
  background-color: transparent !important;
}
.barcode-scanner ion-toolbar {
  --background: #000 !important;
  background-color: #000 !important;
  opacity: 0.8 !important;
}
.barcode-scanner ion-toolbar ion-icon {
  color: white !important;
}
.barcode-scanner ion-toolbar .no-border {
  --border-width: 0px !important;
}
.barcode-scanner ion-toolbar .no-border button {
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid #FFFFFF;
  border-radius: 84px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.05em;
  color: #FFFFFF;
}
.barcode-scanner ion-toolbar .no-border button span {
  color: #FFFFFF;
}
.barcode-scanner .w100 {
  background-color: #0a0a0a;
}
.barcode-scanner .scanner-zone-container {
  background-color: transparent !important;
}
.barcode-scanner .scanner-zone-container > div {
  background-color: #0a0a0a;
}
.barcode-scanner .scanner-zone {
  --g: transparent 0 90deg,#fff 0 !important;
}
.barcode-scanner div.scanner-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.barcode-scanner div.scanner-container div.w100 {
  background-color: #000;
  opacity: 0.8;
  width: 100%;
  height: 30%;
  padding: 40px;
  text-align: center;
}
.barcode-scanner div.scanner-container div.w100.align-left {
  text-align: left;
}
.barcode-scanner div.scanner-container div.w100 p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -0.05em;
  color: #FFFFFF;
}
.barcode-scanner div.scanner-container div.w100:last-child {
  flex-grow: 1;
}
.barcode-scanner div.scanner-container div.scanner-zone-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: space-between;
}
.barcode-scanner div.scanner-container div.scanner-zone-container div {
  display: block;
  background-color: #000;
  opacity: 0.8;
  width: 10%;
  flex-grow: 1;
}
.barcode-scanner div.scanner-container div.scanner-zone-container div.scanner-zone {
  background-color: transparent !important;
  width: 80%;
  height: 200px;
  flex-grow: 2;
  --b: 5px;
  --c: #fff;
  --w: 40px;
  border: var(--b) solid transparent;
  --g: #000 0 90deg, var(--c) 0;
  background: conic-gradient(from 90deg at top var(--b) left var(--b), var(--g)) 0 0, conic-gradient(from 180deg at top var(--b) right var(--b), var(--g)) 100% 0, conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--g)) 0 100%, conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--g)) 100% 100%;
  background-size: var(--w) var(--w);
  background-origin: border-box;
  background-repeat: no-repeat;
}
.barcode-scanner div.scanner-container div.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.manual-zone-modal ion-item {
  --background: #fff;
  --border-radius: 24px;
  --border-color: #D6D6D6;
  --border-width: 1px;
  --border-style: solid;
}

ion-card {
  --color: #000;
}

ion-chip {
  --color: #000;
  font-weight: bold;
}
.root-module_xbox__BgkeR {
  display: flex;
  box-sizing: border-box;
}

/* HORIZONTAL ALIGN FIXED VALUES */
.root-module_horizontal_align-stretch__RsDSG {
  align-items: stretch;
}
.root-module_horizontal_align-start__Qw6KM {
  align-items: flex-start;
  text-align: left;
}
.root-module_horizontal_align-end__yw58M {
  align-items: flex-end;
  text-align: right;
}
.root-module_horizontal_align-center__KeM-o {
  align-items: center;
  text-align: center;
}
.root-module_horizontal_align-between__pEOfH {
  align-items: space-between;
}
.root-module_horizontal_align-evenly__e6eJi {
  align-items: space-evenly;
}
.root-module_horizontal_align-around__j235- {
  align-items: space-around;
}

/* VERTICAL ALIGN FIXED VALUES */
.root-module_vertical_align-start__sNb0E {
  justify-content: flex-start;
}
.root-module_vertical_align-end__mTzSR {
  justify-content: flex-end;
}
.root-module_vertical_align-center__pZuOa {
  justify-content: center;
}
.root-module_vertical_align-between__EO116 {
  justify-content: space-between;
}
.root-module_vertical_align-evenly__RFKcJ {
  justify-content: space-evenly;
}
.root-module_vertical_align-around__Q3-1J {
  justify-content: space-around;
}
.root-module_vertical_align-stretch__E-LVK {
  justify-content: stretch;
}

/* ORIENTATION FIXED VALUES */
.root-module_orientation-vertical__Fm0BD {
  flex-direction: column;
}
.root-module_orientation-horizontal__fRZCe {
  flex-direction: row;
}

/* PADDINGS FIXED VALUES */
.root-module_padding-none__EdoeZ {
  padding: var(--xbox-padding-none);
}
.root-module_padding-xs__3bj0A {
  padding: var(--xbox-padding-xs);
}
.root-module_padding-s__nVsOF {
  padding: var(--xbox-padding-s);
}
.root-module_padding-m__--bDL {
  padding: var(--xbox-padding-m);
}
.root-module_padding-l__vkb4- {
  padding: var(--xbox-padding-l);
}
.root-module_padding-xl__vWGek {
  padding: var(--xbox-padding-xl);
}

/* GAP FIXED VALUES */
.root-module_gap-none__QTmry {
  gap: var(--xbox-padding-none);
}
.root-module_gap-xs__vxwxm {
  gap: var(--xbox-padding-xs);
}
.root-module_gap-s__d2plT {
  gap: var(--xbox-padding-s);
}
.root-module_gap-m__0eGVm {
  gap: var(--xbox-padding-m);
}
.root-module_gap-l__x2mIm {
  gap: var(--xbox-padding-l);
}
.root-module_gap-xl__jgA9t {
  gap: var(--xbox-padding-xl);
}

/* HEIGHT FIXED VALUES */
.root-module_height-auto__-VbZ- {
  height: auto;
}
.root-module_height-full__XysBe {
  height: 100%;
}
.root-module_height-1__jGkq3 {
  height: var(--xbox-size-1);
}
.root-module_height-2__dw0qK {
  height: var(--xbox-size-2);
}
.root-module_height-3__Ve-qm {
  height: var(--xbox-size-3);
}
.root-module_height-4__R2ASX {
  height: var(--xbox-size-4);
}
.root-module_height-5__4zYwN {
  height: var(--xbox-size-5);
}
.root-module_height-6__BfTg1 {
  height: var(--xbox-size-6);
}
.root-module_height-7__XyzRA {
  height: var(--xbox-size-7);
}
.root-module_height-8__oSqoB {
  height: var(--xbox-size-8);
}
.root-module_height-9__-Nh5k {
  height: var(--xbox-size-9);
  border-width: var(--xbox-border-small);
}
.root-module_height-10__EFjFa {
  height: var(--xbox-size-10);
  border-width: var(--xbox-border-small);
}
.root-module_height-11__X-z1B {
  height: var(--xbox-size-11);
  border-width: var(--xbox-border-small);
}
.root-module_height-12__C6-6C {
  height: var(--xbox-size-12);
  border-width: var(--xbox-border-small);
}

/* WIDTH FIXED VALUES */
.root-module_width-auto__c0z5C {
  width: auto;
}
.root-module_width-half__JK4IZ {
  width: 50%;
}
.root-module_width-full__Ydozy {
  width: 100%;
}

.root-module_max_width__9CF6a {
  max-width: var(--maxwidth);
}
.root-module_min_width__cczDz {
  min-width: var(--xbutton-minwidth);
}
.root-module_width-1__bumbq {
  width: var(--xbox-size-1);
}
.root-module_width-2__jtPrr {
  width: var(--xbox-size-2);
}
.root-module_width-3__vIY86 {
  width: var(--xbox-size-3);
}
.root-module_width-4__q4ecu {
  width: var(--xbox-size-4);
}
.root-module_width-5__z8oQP {
  width: var(--xbox-size-5);
}
.root-module_width-6__uubpa {
  width: var(--xbox-size-6);
}
.root-module_width-7__I6dPv {
  width: var(--xbox-size-7);
}
.root-module_width-8__OT-j6 {
  width: var(--xbox-size-8);
}
.root-module_width-9__6Dg6B {
  width: var(--xbox-size-9);
  border-width: var(--xbox-border-small);
}
.root-module_width-10__7fHU- {
  width: var(--xbox-size-10);
  border-width: var(--xbox-border-small);
}
.root-module_width-11__t2dyS {
  width: var(--xbox-size-11);
  border-width: var(--xbox-border-small);
}
.root-module_width-12__OT9GL {
  width: var(--xbox-size-12);
  border-width: var(--xbox-border-small);
}

/* TOUCHABLE FIXED VALUES */
.root-module_touchable__crRxB {
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  transition-property: transform, opacity;
}
.root-module_touchable__crRxB:hover {
  transform: scale(1.025);
}
.root-module_touchable__crRxB:active {
  transform: scale(0.95);
}

/* OVERFLOW FIXED VALUES */
.root-module_overflow-visible__EUDCq {
  overflow: visible;
}
.root-module_overflow-hidden__yuNbr {
  overflow: hidden;
}
.root-module_overflow-auto__urY-3 {
  overflow: auto;
}
.root-module_overflow-scroll__2cFBU {
  overflow-y: scroll;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.root-module_overflow-scroll_y__LxNho {
  overflow: hidden;
  overflow-y: scroll;

  -ms-overflow-style: none;
  scrollbar-width: none;
}
.root-module_overflow-scroll_x__9PREg {
  overflow: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.root-module_overflow-scroll__2cFBU::-webkit-scrollbar,
.root-module_overflow-scroll_y__LxNho::-webkit-scrollbar,
.root-module_overflow-scroll_x__9PREg::-webkit-scrollbar {
  display: none;
}
.root-module_xtext__FTEzH {
  font-style: normal;
  font-family: var(--xtext-font);
  letter-spacing: var(--xtext-letterspacing);
  -webkit-font-smoothing: antialiased;
}

.root-module_text_overflow-break-word__0-jCX {
  word-wrap: break-word;
}
.root-module_text_overflow-no-wrap__3G8Ju {
  white-space: nowrap;
}

.root-module_line_height-normal__-FibS {
  line-height: var(--xtext-lineheight-normal);
}
.root-module_line_height-title__2IApz {
  line-height: var(--xtext-lineheight-title);
}

.root-module_weight-lighter__75pw8 {
  font-weight: var(--xtext-weight-lighter);
}
.root-module_weight-normal__CRY08 {
  font-weight: var(--xtext-weight-normal);
}
.root-module_weight-bold__krljQ {
  font-weight: var(--xtext-weight-bold);
}

.root-module_font_size-inherit__T-ItM {
  font-size: inherit;
}
.root-module_font_size-1__WKnkW {
  font-size: var(--xtext-size-1);
}
.root-module_font_size-2__Mr6q7 {
  font-size: var(--xtext-size-2);
}
.root-module_font_size-3__3Vhe9 {
  font-size: var(--xtext-size-3);
}
.root-module_font_size-4__3q-j4 {
  font-size: var(--xtext-size-4);
}
.root-module_font_size-5__mfRjv {
  font-size: var(--xtext-size-5);
}
.root-module_font_size-6__dzU1- {
  font-size: var(--xtext-size-6);
}
.root-module_font_size-7__gdpm8 {
  font-size: var(--xtext-size-7);
}
.root-module_font_size-8__XgW0l {
  font-size: var(--xtext-size-8);
}
.root-module_font_size-9__eiNs4 {
  font-size: var(--xtext-size-9);
}
.root-module_font_size-10__WYXfx {
  font-size: var(--xtext-size-10);
}
.root-module_font_size-11__z-XZD {
  font-size: var(--xtext-size-11);
}
.root-module_font_size-12__RWIJX {
  font-size: var(--xtext-size-12);
}

.root-module_line_clamp__-ah3x {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 0.125em;
}

.root-module_xicon__WMNSi {
  display: inline-block;
  max-height: var(--xicon-size-xl);
  max-width: var(--xicon-size-xl);
}
.root-module_icon_size-xs__bK2p2 {
  height: var(--xicon-size-xs);
  width: var(--xicon-size-xs);
}
.root-module_icon_size-s__zgO05 {
  height: var(--xicon-size-s);
  width: var(--xicon-size-s);
}
.root-module_icon_size-m__-DheZ {
  height: var(--xicon-size-m);
  width: var(--xicon-size-m);
}
.root-module_icon_size-l__QX1lj {
  height: var(--xicon-size-l);
  width: var(--xicon-size-l);
}
.root-module_icon_size-xl__nSVvy {
  height: var(--xicon-size-xl);
  width: var(--xicon-size-xl);
}
.root-module_icon-spin__0EEdQ {
  display: flex;
}
.root-module_icon-spin__0EEdQ > svg {
  animation: root-module_spin__XvK3O infinite 1s linear;
}

@keyframes root-module_spin__XvK3O {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.root-module_xbutton__Qz5J5 {
  display: flex;
  align-items: center;
  background-color: var(--color-neutral-lightest);
  border-radius: var(--xbox-rounding-pill);
  border: var(--xbox-border-small) solid transparent;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  transition-property: transform, opacity;
  justify-content: center;
  color: var(--color-neutral-darkest);
  position: relative;
}
.root-module_xbutton__Qz5J5:hover {
  transform: scale(1.025);
}
.root-module_xbutton__Qz5J5:active {
  transform: scale(0.95);
}

.root-module_xbutton_content__n5-Oj {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--xbutton-gap);
}
.root-module_button_content-reverse__e-Coj {
  flex-direction: row-reverse;
}

/* Disable State */
.root-module_xbutton__Qz5J5[disabled] {
  cursor: not-allowed;
  color: var(--color-neutral-dim);
  box-shadow: none;
  transition: none;
  transform: none;
}
.root-module_xbutton__Qz5J5:hover[disabled],
.root-module_xbutton__Qz5J5:active[disabled] {
  transition: none;
  transform: none;
}
.root-module_button_type-default__kdN2r[disabled],
.root-module_button_type-solid__FM1Wb[disabled],
.root-module_button_type-tonal__ErqJT[disabled],
.root-module_button_type-clear__2SPgA[disabled],
.root-module_button_type-outline__BStzO[disabled] {
  background-color: var(--color-neutral-light);
}
.root-module_button_type-outline__BStzO[disabled] {
  border-color: var(--color-neutral-dim);
  background-color: var(--color-neutral-lightest);
}

/* Button Types */
.root-module_button_type-default__kdN2r {
  box-shadow: var(--shadow);
}
.root-module_button_type-solid__FM1Wb {
  background-color: var(--color-neutral-darkest);
  color: var(--color-neutral-lightest);
}
.root-module_button_type-tonal__ErqJT {
  background-color: var(--color-neutral-light);
  color: var(--color-neutral-darkest);
}
.root-module_button_type-outline__BStzO {
  border-color: var(--color-neutral-darkest);
}
.root-module_button_type-clear__2SPgA {
  border-color: transparent;
  background-color: transparent;
}

/* Button Sizes */
.root-module_button_size-xs__cHHal {
  height: var(--xbutton-size-xs);
  padding: 0 var(--xbutton-padding-xs);
}
.root-module_button_size-s__2-Dks {
  height: var(--xbutton-size-s);
  padding: 0 var(--xbutton-padding-s);
}
.root-module_button_size-m__yR3Pl {
  height: var(--xbutton-size-m);
  padding: 0 var(--xbutton-padding-m);
}
.root-module_button_size-l__adiea {
  height: var(--xbutton-size-l);
  padding: 0 var(--xbutton-padding-l);
}
.root-module_button_size-xl__1a1gW {
  height: var(--xbutton-size-xl);
  padding: 0 var(--xbutton-padding-xl);
  width: 100%;
  max-width: var(--xbutton-maxwidth);
}

/* Loading State */
.root-module_button-loading__PgU3n {
  pointer-events: none;
}
.root-module_button-loading__PgU3n .root-module_xbutton_content__n5-Oj {
  opacity: 0;
}
.root-module_button-loading__PgU3n i {
  position: absolute;
  display: flex;
}

.root-module_xbuttonicon__IVwuz {
  display: flex;
  align-items: center;
  background-color: var(--color-neutral-lightest);
  border-radius: var(--xbox-rounding-pill);
  border: var(--xbox-border-small) solid transparent;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  transition-property: transform, opacity;
  justify-content: center;
  padding: 0;
}
.root-module_xbuttonicon__IVwuz:hover {
  transform: scale(1.025);
}
.root-module_xbuttonicon__IVwuz:active {
  transform: scale(0.95);
}

/* Disable State */
.root-module_xbuttonicon__IVwuz[disabled] {
  cursor: not-allowed;
  color: var(--color-neutral-dim);
  box-shadow: none;
  transition: none;
  transform: none;
}
.root-module_xbuttonicon__IVwuz:hover[disabled],
.root-module_xbuttonicon__IVwuz:active[disabled] {
  transition: none;
  transform: none;
}
.root-module_buttonicon_type-default__L6dJI[disabled],
.root-module_buttonicon_type-solid__bp0V9[disabled],
.root-module_buttonicon_type-tonal__rre5O[disabled],
.root-module_buttonicon_type-clear__LEA6o[disabled],
.root-module_buttonicon_type-outline__NqzF3[disabled] {
  background-color: var(--color-neutral-light);
}
.root-module_buttonicon_type-outline__NqzF3[disabled] {
  border-color: var(--color-neutral-dim);
  background-color: var(--color-neutral-lightest);
}

/* ButtonIcon Types */
.root-module_buttonicon_type-default__L6dJI {
  box-shadow: var(--shadow);
}
.root-module_buttonicon_type-solid__bp0V9 {
  background-color: var(--color-neutral-darkest);
  color: var(--color-neutral-lightest);
}
.root-module_buttonicon_type-tonal__rre5O {
  background-color: var(--color-neutral-light);
  color: var(--color-neutral-darkest);
}
.root-module_buttonicon_type-outline__NqzF3 {
  border-color: var(--color-neutral-darkest);
}
.root-module_buttonicon_type-clear__LEA6o {
  border-color: transparent;
  background-color: transparent;
}

/* ButtonIcon Sizes */
.root-module_buttonicon_size-xs__IZZEa {
  height: var(--xbuttonicon-size-xs);
  width: var(--xbuttonicon-size-xs);
}
.root-module_buttonicon_size-s__Fd0yV {
  height: var(--xbuttonicon-size-s);
  width: var(--xbuttonicon-size-s);
}
.root-module_buttonicon_size-m__CA47J {
  height: var(--xbuttonicon-size-m);
  width: var(--xbuttonicon-size-m);
}
.root-module_buttonicon_size-l__L8uRi {
  height: var(--xbuttonicon-size-l);
  width: var(--xbuttonicon-size-l);
}
.root-module_buttonicon_size-xl__iB8Ub {
  height: var(--xbuttonicon-size-xl);
  width: var(--xbuttonicon-size-xl);
}

/* Loading State */
.root-module_buttonicon-loading__rGPC3 {
  pointer-events: none;
}

.root-module_xtag__CLZYk {
  display: flex;
  height: var(--xbox-size-9);
}

.root-module_xtag--size-s__x-8qV {
  height: var(--xbox-size-9);
  font-size: var(--xtext-size-12);
}

.root-module_xtag--size-l__zdOxQ {
  height: var(--xbox-size-7);
  font-size: var(--xtext-size-11);
}

.root-module_xtag--touchable__dvrbO  {
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  transition-property: transform, opacity;
}

.root-module_xtag--touchable__dvrbO:hover {
  transform: scale(1.025);
}

.root-module_xtag--touchable__dvrbO:active {
  transform: scale(0.95);
}

.root-module_xtag__text_container__GTdbl {
  display: flex;
  align-items: center;
  padding: var(--xbox-padding-xs);
  background: var(--color-neutral-light);
  border-radius: 50px;
  letter-spacing: -0.05em;
  line-height: 100%;
}

.root-module_xtag__text__N-DWl {
  padding-left: var(--xbox-padding-xs);
  padding-right: var(--xbox-padding-xs);
}

.root-module_ximage__tYtn0 {}

/* HEIGHT FIXED VALUES */
.root-module_height-auto__xeMzQ {
  height: auto;
}
.root-module_height-full__TGn22 {
  height: 100%;
}
.root-module_height-1__55qf3 {
  height: var(--xbox-size-1);
}
.root-module_height-2__X1GeS {
  height: var(--xbox-size-2);
}
.root-module_height-3__FeUmj {
  height: var(--xbox-size-3);
}
.root-module_height-4__cC2Gi {
  height: var(--xbox-size-4);
}
.root-module_height-5__yLI6L {
  height: var(--xbox-size-5);
}
.root-module_height-6__GNt0Y {
  height: var(--xbox-size-6);
}
.root-module_height-7__MhDEA {
  height: var(--xbox-size-7);
}
.root-module_height-8__rhzv1 {
  height: var(--xbox-size-8);
}
.root-module_height-9__UwLQX {
  height: var(--xbox-size-9);
  border-width: var(--xbox-border-small);
}
.root-module_height-10__q0Bl- {
  height: var(--xbox-size-10);
  border-width: var(--xbox-border-small);
}
.root-module_height-11__BPWAr {
  height: var(--xbox-size-11);
  border-width: var(--xbox-border-small);
}
.root-module_height-12__FnLos {
  height: var(--xbox-size-12);
  border-width: var(--xbox-border-small);
}

/* WIDTH FIXED VALUES */
.root-module_width-auto__LkyC8 {
  width: auto;
}
.root-module_width-half__yn2d- {
  width: 50%;
}
.root-module_width-full__TAwIh {
  width: 100%;
}
.root-module_width-1__BZ9et {
  width: var(--xbox-size-1);
}
.root-module_width-2__wTEZT {
  width: var(--xbox-size-2);
}
.root-module_width-3__XwPfp {
  width: var(--xbox-size-3);
}
.root-module_width-4__EjiBd {
  width: var(--xbox-size-4);
}
.root-module_width-5__jRYQj {
  width: var(--xbox-size-5);
}
.root-module_width-6__NF4MZ {
  width: var(--xbox-size-6);
}
.root-module_width-7__-UKna {
  width: var(--xbox-size-7);
}
.root-module_width-8__nPXuF {
  width: var(--xbox-size-8);
}
.root-module_width-9__0UBdF {
  width: var(--xbox-size-9);
  border-width: var(--xbox-border-small);
}
.root-module_width-10__6KkbL {
  width: var(--xbox-size-10);
  border-width: var(--xbox-border-small);
}
.root-module_width-11__EJiz7 {
  width: var(--xbox-size-11);
  border-width: var(--xbox-border-small);
}
.root-module_width-12__gnimm {
  width: var(--xbox-size-12);
  border-width: var(--xbox-border-small);
}

.root-module_xtag_business__boNqC {
  display: flex;
  height: var(--xbox-size-9);
}

.root-module_xtag_business--size-s__IJchy {
  height: var(--xbox-size-9);
}

.root-module_xtag_business--size-l__rr9wC {
  height: var(--xbox-size-7);
}

.root-module_xheader__fOYeD {
  position: sticky;
  top: 0px;
  padding: var(--xbox-padding-xl);
  background-color: var(--color-neutral-lightest);
}

.root-module_xheader--sticky__THgyI {
  position: sticky;
  /* 16px margin top + 20px title height */
  top: -36px;
}

.root-module_xheader-sticky_pinned__BigZ1 {
  box-shadow: var(--shadow);
}

.root-module_xheader__bar__atGCt {
  height: var(--xbox-size-11);
  display: flex;
  align-items: center;
  gap: var(--xbox-padding-xs);
  background-color: var(--color-neutral-lightest);
}

.root-module_xheader--sticky__THgyI .root-module_xheader__bar__atGCt {
  position: sticky;
  /* 24px margin top */
  top: var(--xbox-padding-xl);
}

.root-module_xheader__bar__back__i9AO9 {
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  transition-property: transform, opacity;
  display: flex;
}

.root-module_xheader__bar__back__i9AO9:hover {
  transform: scale(1.025);
}

.root-module_xheader__bar__back__i9AO9:active {
  transform: scale(0.95);
}

.root-module_xheader__bar__title__pV3PH {
  padding-left: 4px;
  visibility: hidden;
  flex: 1;
}

.root-module_xheader-sticky_pinned__BigZ1 .root-module_xheader__bar__title__pV3PH {
  visibility: visible;
}

.root-module_xheader__bar__tag_first__M0BQk {
  display: block;
}

.root-module_xheader-sticky_pinned__BigZ1 .root-module_xheader__bar__tag_first__M0BQk {
  display: none;
}

.root-module_xheader__content__4RHQb {
  margin-top: var(--xbox-padding-m);
}

.root-module_header__content__title__CDZ16 {
  visibility: visible;
}

.root-module_xheader-sticky_pinned__BigZ1 .root-module_header__content__title__CDZ16 {
  visibility: hidden;
}


.root-module_xbody__VGU0O {
  padding: var(--xbox-padding-xl);
}

.root-module_xfooter__DTxcE {
  padding: calc(var(--xbox-padding-xl) + var(--xbox-padding-xs)) var(--xbox-padding-xl);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.root-module_xfooter--backround-solid__2mamM {
  background-color: var(--color-neutral-lightest);
}

.root-module_xfooter--backround-gradient__Q8vTz {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--color-neutral-lightest) 22.97%);
}

.root-module_xfooter--backround-transparent__HR49f {
  background-color: transparent;
}

.root-module_xbadge__qYW5H {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-turquoise);
  font-weight: bold;
  letter-spacing: var(--xtext-letterspacing);
  border-radius: 999px;
}

.root-module_xbadge--size-xs__K92A3 {
  height: var(--xbadge-size-xs);
  font-size: var(--xtext-size-12);
  padding: var(--xbadge-padding-xs);
}
.root-module_xbadge--size-s__uG51F {
  height: var(--xbadge-size-s);
  font-size: var(--xtext-size-10);
  padding: var(--xbadge-padding-s);
}
.root-module_xbadge--size-m__P7cES {
  height: var(--xbadge-size-m);
  font-size: var(--xtext-size-9);
  padding: var(--xbadge-padding-m);
}
.root-module_xbadge--size-l__4bDKV {
  height: var(--xbadge-size-l);
  font-size: var(--xtext-size-8);
  padding: var(--xbadge-padding-l);
}
.root-module_xbadge--size-xl__6SeNN {
  height: var(--xbadge-size-xl);
  font-size: var(--xtext-size-7);
  padding: var(--xbadge-padding-xl);
}

.root-module_squared__f8rDQ {
  padding: 0;
}
.root-module_squared__f8rDQ.root-module_xbadge--size-xs__K92A3 {
  width: var(--xbadge-size-xs);
}
.root-module_squared__f8rDQ.root-module_xbadge--size-s__uG51F {
  width: var(--xbadge-size-s);
}
.root-module_squared__f8rDQ.root-module_xbadge--size-m__P7cES {
  width: var(--xbadge-size-m);
}
.root-module_squared__f8rDQ.root-module_xbadge--size-l__4bDKV {
  width: var(--xbadge-size-l);
}
.root-module_squared__f8rDQ.root-module_xbadge--size-xl__6SeNN {
  width: var(--xbadge-size-xl);
}

.root-module_xpage__JXLst {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: scroll;
    background-color: var(--color-neutral-lightest);
    color: var(--color-neutral-darkest);
}

.root-module_xmodal__tZkke {
  position: fixed;
  top: 24px;
  left: 24px;
  bottom: 24px;
  right: 24px;
  background-color: red;
  border-radius: 24px;
}
:root {
  --grid: 4px;

  --safearea-top-fallback: calc(6 * var(--grid));
  --safearea-top: max(env(safe-area-inset-top), var(--safearea-top-fallback));

  --safearea-bottom-fallback: calc(12 * var(--grid));
  --safearea-bottom: max(env(safe-area-inset-bottom), var(--safearea-bottom-fallback));

  --color-neutral-darkest: #000000;
  --color-neutral-dark: #333333;
  --color-neutral-medium: #666666;
  --color-neutral-dim: #909090;
  --color-neutral-light: #f0f0f0;
  --color-neutral-lightest: #ffffff;

  --color-error-darkest: #2b0c0c;
  --color-error-dark: #542020;
  --color-error-medium: #d61c1c;
  --color-error-dim: #f35353;
  --color-error-light: #f4abab;
  --color-error-lightest: #ffeded;

  --color-warning-darkest: #8a732e;
  --color-warning-dark: #bb941e;
  --color-warning-medium: #ffc107;
  --color-warning-dim: #ffd145;
  --color-warning-light: #ffe085;
  --color-warning-lightest: #fff2c7;

  --color-success-darkest: #131f12;
  --color-success-dark: #1b3f19;
  --color-success-medium: #008428;
  --color-success-dim: #48a564;
  --color-success-light: #99cea9;
  --color-success-lightest: #ebfaf0;

  --color-hyperblue-darkest: #1a31dc;
  --color-hyperblue-lightest: #3083ff;

  --color-purple: #7c7ae3;
  --color-turquoise: #2ddfa6;

  /*
  --color-gradient-arcus: linear-gradient(80deg, #32e0a1 20%, #e8f409 80%);
  --color-gradient-mimall: linear-gradient(
    45deg,
    #ff55aa 10%,
    #b850c9 25%,
    #6572d6 50%,
    #4eaeb8 70%
  );
  */

  --shadow: 0 0 calc(2 * var(--grid)) rgba(0, 0, 0, 0.15);
  --maxwidth: calc(100 * var(--grid));

  --xbox-size-1: calc(24 * var(--grid));
  --xbox-size-2: calc(16 * var(--grid));
  --xbox-size-3: calc(14 * var(--grid));
  --xbox-size-4: calc(12 * var(--grid));
  --xbox-size-5: calc(10 * var(--grid));
  --xbox-size-6: calc(9 * var(--grid));
  --xbox-size-7: calc(8 * var(--grid));
  --xbox-size-8: calc(7 * var(--grid));
  --xbox-size-9: calc(6 * var(--grid));
  --xbox-size-10: calc(5 * var(--grid));
  --xbox-size-11: calc(4 * var(--grid));
  --xbox-size-12: calc(3.5 * var(--grid));
  --xbox-size-13: calc(3 * var(--grid));
  --xbox-size-14: calc(2.5 * var(--grid));

  --xbox-border-default: calc(0.625 * var(--grid));
  --xbox-border-small: calc(0.5 * var(--grid));
  --xbox-rounding-s: var(--grid);
  --xbox-rounding-m: calc(2 * var(--grid));
  --xbox-rounding-l: calc(4 * var(--grid));
  --xbox-rounding-xl: calc(6 * var(--grid));
  --xbox-rounding-xxl: calc(8 * var(--grid));
  --xbox-rounding-circle: 50%;
  --xbox-rounding-pill: 999px;

  --xbox-padding-none: 0;
  --xbox-padding-xs: calc(2 * var(--grid));
  --xbox-padding-s: calc(3 * var(--grid));
  --xbox-padding-m: calc(4 * var(--grid));
  --xbox-padding-l: calc(5 * var(--grid));
  --xbox-padding-xl: calc(6 * var(--grid));

  --xtext-font: 'Open Sans';
  --xtext-letterspacing: -0.05em;
  --xtext-lineheight-normal: 1;
  --xtext-lineheight-title: 1.25;
  --xtext-lineheight-copy: 1.5;
  --xtext-tab: var(--grid);
  --xtext-size-1: calc(24 * var(--grid));
  --xtext-size-2: calc(14 * var(--grid));
  --xtext-size-3: calc(12 * var(--grid));
  --xtext-size-4: calc(10 * var(--grid));
  --xtext-size-5: calc(9 * var(--grid));
  --xtext-size-6: calc(8 * var(--grid));
  --xtext-size-7: calc(7 * var(--grid));
  --xtext-size-8: calc(6 * var(--grid));
  --xtext-size-9: calc(5 * var(--grid));
  --xtext-size-10: calc(4 * var(--grid));
  --xtext-size-11: calc(3.5 * var(--grid));
  --xtext-size-12: calc(3 * var(--grid));
  --xtext-size-13: calc(2.5 * var(--grid));
  --xtext-weight-lighter: 400;
  --xtext-weight-normal: 600;
  --xtext-weight-bold: 700;

  --xicon-size-xs: calc(4 * var(--grid));
  --xicon-size-s: calc(6 * var(--grid));
  --xicon-size-m: calc(8 * var(--grid));
  --xicon-size-l: calc(10 * var(--grid));
  --xicon-size-xl: calc(12 * var(--grid));
  --xicon-size-xs-minus: calc(3.5 * var(--grid));
  --xicon-size-s-minus: calc(5 * var(--grid));
  --xicon-size-m-minus: calc(7 * var(--grid));
  --xicon-size-l-minus: calc(9 * var(--grid));
  --xicon-size-xl-minus: calc(11 * var(--grid));
  --xicon-safearea: var(--grid);

  --xbutton-size-xs: calc(6 * var(--grid));
  --xbutton-size-s: calc(7 * var(--grid));
  --xbutton-size-m: calc(8 * var(--grid));
  --xbutton-size-l: calc(10 * var(--grid));
  --xbutton-size-xl: calc(12 * var(--grid));
  --xbutton-size-s-minus: calc(5 * var(--grid));
  --xbutton-size-m-minus: calc(7 * var(--grid));
  --xbutton-size-l-minus: calc(9 * var(--grid));
  --xbutton-size-xl-minus: calc(10 * var(--grid));
  --xbutton-padding-xs: var(--grid);
  --xbutton-padding-s: calc(2 * var(--grid));
  --xbutton-padding-m: calc(3 * var(--grid));
  --xbutton-padding-l: calc(4 * var(--grid));
  --xbutton-padding-xl: calc(6 * var(--grid));
  --xbutton-border-default: calc(0.625 * var(--grid));
  --xbutton-border-small: calc(0.5 * var(--grid));
  --xbutton-safearea: calc(2 * var(--grid));
  --xbutton-radius: 999px;
  --xbutton-minwidth: calc(40 * var(--grid));
  --xbutton-maxwidth: var(--maxwidth);
  --xbutton-tab: calc(0.5 * var(--grid));
  --xbutton-gap: var(--grid);

  --xbuttonicon-size-xs: calc(6 * var(--grid));
  --xbuttonicon-size-s: calc(8 * var(--grid));
  --xbuttonicon-size-m: calc(10 * var(--grid));
  --xbuttonicon-size-l: calc(12 * var(--grid));
  --xbuttonicon-size-xl: calc(16 * var(--grid));
  --xbuttonicon-size-xs-minus: calc(5 * var(--grid));
  --xbuttonicon-size-s-minus: calc(7 * var(--grid));
  --xbuttonicon-size-m-minus: calc(9 * var(--grid));
  --xbuttonicon-size-l-minus: calc(11 * var(--grid));
  --xbuttonicon-size-xl-minus: calc(15 * var(--grid));
  --xbuttonicon-radius: 999px;

  --xcheckbox-minwidth: calc(40 * var(--grid));
  --xcheckbox-maxwidth: var(--maxwidth);
  --xcheckbox-tab: var(--grid);
  --xcheckbox-safearea: var(--grid);
  --xcheckbox-size: calc(12 * var(--grid));
  --xcheckbox-size-minus: calc(11 * var(--grid));
  --xcheckbox-padding: 0 calc(4 * var(--grid)) 0 calc(5 * var(--grid));
  --xcheckbox-radius: 999px;
  --xcheckbox-border-default: calc(0.625 * var(--grid));
  --xcheckbox-border-small: calc(0.5 * var(--grid));

  --xprogress-safearea: calc(2 * var(--grid));

  --x-modal-sheet-background: var(--color-neutral-darkest);
  --x-modal-sheet-opacity: 0.6;
  --x-modal-sheet-maxwidth: var(--maxwidth);

  --xsymbol-size-s: calc(14 * var(--grid));
  --xsymbol-size-m: calc(16 * var(--grid));
  --xsymbol-size-l: calc(20 * var(--grid));
  --xsymbol-size-s-minus: calc(13 * var(--grid));
  --xsymbol-size-m-minus: calc(15 * var(--grid));
  --xsymbol-size-l-minus: calc(19 * var(--grid));
  --xsymbol-safearea: var(--grid);

  --xbadge-size-xs: calc(4 * var(--grid));
  --xbadge-size-s: calc(6 * var(--grid));
  --xbadge-size-m: calc(7 * var(--grid));
  --xbadge-size-l: calc(8 * var(--grid));
  --xbadge-size-xl: calc(9 * var(--grid));
  --xbadge-padding-xs: calc(0.5 * var(--grid)) calc(1 * var(--grid));
  --xbadge-padding-s: var(--grid) calc(1.5 * var(--grid));
  --xbadge-padding-m: var(--grid) calc(2 * var(--grid));
  --xbadge-padding-l: var(--grid) calc(2 * var(--grid));
  --xbadge-padding-xl: var(--grid) calc(2.5 * var(--grid));
}

/*
html.dark {
  --color-neutral-lightest: red;
}
*/

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url('https://ux-cdn.cencosudx.io/fonts/open-sans-400.eot');
  src: url('https://ux-cdn.cencosudx.io/fonts/open-sans-400.eot?#iefix')
      format('embedded-opentype'),
    url('https://ux-cdn.cencosudx.io/fonts/open-sans-400.woff2') format('woff2'),
    url('https://ux-cdn.cencosudx.io/fonts/open-sans-400.woff') format('woff'),
    url('https://ux-cdn.cencosudx.io/fonts/open-sans-400.ttf')
      format('truetype'),
    url('https://ux-cdn.cencosudx.io/fonts/open-sans-400.svg#OpenSans')
      format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  src: url('https://ux-cdn.cencosudx.io/fonts/open-sans-600.eot');
  src: url('https://ux-cdn.cencosudx.io/fonts/open-sans-600.eot?#iefix')
      format('embedded-opentype'),
    url('https://ux-cdn.cencosudx.io/fonts/open-sans-600.woff2') format('woff2'),
    url('https://ux-cdn.cencosudx.io/fonts/open-sans-600.woff') format('woff'),
    url('https://ux-cdn.cencosudx.io/fonts/open-sans-600.ttf')
      format('truetype'),
    url('https://ux-cdn.cencosudx.io/fonts/open-sans-600.svg#OpenSans')
      format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: url('https://ux-cdn.cencosudx.io/fonts/open-sans-700.eot');
  src: url('https://ux-cdn.cencosudx.io/fonts/open-sans-700.eot?#iefix')
      format('embedded-opentype'),
    url('https://ux-cdn.cencosudx.io/fonts/open-sans-700.woff2') format('woff2'),
    url('https://ux-cdn.cencosudx.io/fonts/open-sans-700.woff') format('woff'),
    url('https://ux-cdn.cencosudx.io/fonts/open-sans-700.ttf')
      format('truetype'),
    url('https://ux-cdn.cencosudx.io/fonts/open-sans-700.svg#OpenSans')
      format('svg');
}
