.index-module_wrapper__f2sVb {
  width: 552px;
}

.index-module_spacer__rFQyd {
  width: 16px;
}

.index-module_text__zRP1R {
 width: 344px;
}

.index-module_wrapper__icon__MOUU0 {
  height: 7.6em;
}
