.root-module_xcontainer-unauth__SxQdd {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.root-module_xcontainer-unauth_left__T--8L{
  padding: 2rem;
  width: calc(100vw - 552px);
  min-width: 460px;
  height: 100vh;
  background-color: var(--primary-color);
  background-image: url('../../assets/image/XBackgroundImage.png') ;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.root-module_xcontainer-unauth_left_container-border__WWDuH{
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(45px);
          backdrop-filter: blur(45px);
  width: 100%;
  flex-direction: column;
  justify-content: center;
  display: flex;
  height: 80vh;
  padding: 2rem;
}

.root-module_xcontainer-unauth_left_container-text__SKQeT{
  width: 460px;
}

.root-module_xcontainer-unauth_right__C8pTZ{
  width: 540px;
  background-color: white;
  height: 100vh;
  padding: 4rem;
}

@media screen and (max-width:1024px) {
  .root-module_xcontainer-unauth_left__T--8L{
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    z-index: -1;
  }
  .root-module_xcontainer-unauth_left_container-text__SKQeT{
    display: none;
  }
  .root-module_xcontainer-unauth_left_container-border__WWDuH{
    background: rgba(255, 255, 255, 1);
  }
  .root-module_xcontainer-unauth_right__C8pTZ{
    background-color: transparent;
  }
}

@media screen and (max-width:550px) {
  .root-module_xcontainer-unauth_left__T--8L{
    display: none;
  }
  .root-module_xcontainer-unauth_right__C8pTZ{
    background-color: transparent;
  }
}



.nav-wrapper {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.nav-item {
  position: relative;
  color: #fff;
  > button {
    background: transparent;
    border: 2px solid white;
    > div > div {color: white;}
  }
}
.nav-link {
  font-size: 1.4rem;
  font-weight: 400;
  color: #000;
  text-decoration: none;
  transition: all 2 00ms ease;
}
.nav-link:hover {
  color: var(--dark-primary-color);
}
.nav__sub-menu {
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  width: 25rem;
  top: 5rem;
  left: 0;
  list-style: none;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.11);
  border: 0.1rem rgba(0, 0, 0, 0.144) solid;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;
}
.nav__subcategory-menu {
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  width: 20rem;
  top: 5rem;
  left: 0;
  list-style: none;
  padding: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.11);
  border: 0.1rem rgba(0, 0, 0, 0.144) solid;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;
}
.nav__sub-menu::after {
  content: '';
  position: absolute;
  top: -2rem;
  left: 0;
  background-color: transparent;
  width: 100%;
  height: 2rem;
}
.nav-item:hover > .nav__sub-menu {
  opacity: 1;
  visibility: visible;
  top: 4rem;
}
.nav-link.link-wrapper {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: #fff;
}
.nav-link__arrow-icon {
  color: rgba(0, 0, 0, 0.349);
}
.nav__sub-menu__item > .nav-link {
  font-weight: 300 !important;
  font-size: 1.3rem;
}
@media screen and (max-width: 992px) {
  .nav-wrapper {
    display: none;
  }
}

.cart {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.cart-price {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
  transition: all 200ms ease;
}

.cart:hover>.cart-icons>.cart-icon,
.cart:hover>.cart-price {
  color: var(--black-hover);
}

.cart-icons {
  position: relative;
  padding: 4px;
}

.button-cart {
  > button {
    border-radius: 999px;
    border: 2px solid var(--global-neutral-white, #FFF);
    background: transparent;
    > div {
      color: var(--global-neutral-white, #FFF);
    }
  }
}

.cart-quantity {
  position: absolute;
  right: -6px;
  top: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  background-color: white;
  color: var(--primary-color);
  min-width: 2.5rem;
  height: 2.5rem;
  font-size: 12px;
  font-weight: bold;
  transition: all 10ms ease;
}

.mobile-nav {
  display: none;
  > button {
    background: transparent;
    > div {
      color: white;
    }
  }
}
.mobile-nav__button {
  color: white;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  border: none;
  background-color: transparent;
  padding: 0.5rem;
}
.mobile-nav__button-icon {
  font-size: 2rem;
}
.mobile-nav__menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: -100%;
  background-color: white;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.11);
  width: 30rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all 500ms ease;
}
@media screen and (max-width: 350px) {
  .mobile-nav__menu {
    width: 80%;
  }
}
.mobile-menu__register-button {
  position: relative;
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 1rem;
}
.mobile-menu__register-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.mobile-nav__menu__search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 7rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.089);
}
.mobile-nav__menu__title {
  font-size: 1.7rem;
  font-weight: 400;
}
.mobile-nav__menu__search-box__search-input:focus {
  outline: none;
}
.mobile-nav__menu.open {
  left: 0;
}
.over-lay {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: all 350ms ease;
}
.over-lay.visible {
  opacity: 1;
  visibility: visible;
}
.nav-link-mobile {
  display: flex;
  flex-direction: column;
  list-style: none;
  overflow-y: auto;
    /* height: calc(100vh - 180px); */
}
.mobile-nav__links {
  position: relative;
  padding: 1.5rem 2rem;
  font-size: 1.4rem;
  font-weight: 500;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.185);
}
.mobile-nav__links > * {
  list-style: none;
}
.mobile-nav__links__submenu {
  display: none;
}
.mobile-nav__links-text {
  color: black;
  text-decoration: none;
  transition: all 200ms ease;
}
.mobile-nav__links-text:hover {
  color: var(--primary-color);
}
.mobile-nav__links-text::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
@media screen and (max-width: 992px) {
  .mobile-nav {
    display: block;
  }
}
@media screen and (max-width: 680px) {
  .mobile-nav__button-text {
    display: none;
  }
}

.button-default {
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.4rem;
  color: white;
  cursor: pointer;
  transition: all 200ms ease;
}
.button-default:hover {
  background-color: var(--dark-primary-color);
}
.button-default.secoundry {
  background-color: transparent !important;
  border: 0.1rem solid rgba(0, 0, 0, 0.26);
  color: rgba(0, 0, 0, 0.829) !important;
  font-weight: 400;
}
.button-default.secoundry:hover {
  background-color: rgba(0, 0, 0, 0.04) !important;
}
.button-default:disabled {
  background-color: rgba(0, 119, 255, 0.336);
  cursor: not-allowed;
}

.product-card {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  width: 228px;
  height: 100%;
  min-height: 1px;
  margin: 0 auto;
  border-radius: 16px;
  box-shadow: 0px 3px 8px -1px #18274B14;
}
.product-card__image {
  position: relative;
  overflow: hidden;
  height: auto;
}
.product-card__image-image {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 164px;
}

@media screen and (max-width: 520px) {
  .product-card {
    width: 90%;
  }
}

.input-default {
  padding: 1rem 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}
.input-default[is-focus='true']:invalid {
  border: 0.1rem solid rgba(255, 0, 0, 0.507);
}
.input-default:focus {
  outline: none;
  border: 0.1rem solid var(--primary-color);
}

.shop-cart__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1.5rem;
}
.shop-cart__item__image {
  width: 8rem;
  height: 8rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.shop-cart__item__data{
  width: 170px;
  cursor: pointer;
}

.shop-cart__item__actions{
  margin-left: auto;
}

.lds-roller {
  margin: 0 auto;
  position: relative;
  width: 80px;
  height: 80px;
  text-align: center;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--primary-color);
  margin: -4px 0 0 -4px;
}
.lds-roller.white div::after {
  background-color: white;
}
.lds-roller.primary div::after {
  background-color: var(--primary-color);
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 90px;
  height: 90px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: rgb(41, 41, 41);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
.loader-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 10rem);
  width: 100%;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

.loading-screen {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  transform: scale(1);
  z-index: 9999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.562);
  transition: all 200ms ease;
}
.loading-screen > .lds-roller {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading-screen.show {
  opacity: 1;
  visibility: visible;
}

.shop__skeleton__product {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 228px;
  gap: 0.8rem;
}
.shop__skeleton__product > div {
  position: relative;
  overflow: hidden;
  background-color: #ececec;
  border-radius: 0.5rem;
  margin: 0 auto;
}

.shop__skeleton__product > div::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.253),
    rgba(255, 255, 255, 0.623),
    rgba(255, 255, 255, 0)
  ) !important;
  animation: shimmer 2s infinite;
  content: '';
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
.shop__skeleton__product__image {
  height: 35rem;
  width: 100%;
}
.shop__skeleton__product__name {
  width: 80%;
  height: 2rem;
}
.shop__skeleton__product__price {
  width: 5rem;
  height: 2rem;
}

.elevator-button {
  position: fixed;
  bottom: 1rem;
  visibility: hidden;
  opacity: 0;
  right: 2rem;
  z-index: 10000;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.315);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  > div {
    color: white;
  }
}
.elevator-button.visible {
  bottom: 2rem;
  opacity: 1;
  visibility: visible;
}

.cart-wrapper__body {
  overflow-y: auto;
  height: calc(100vh - 320px);
}

.root-module_xalert-modal__DrLKB {
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.root-module_xalert-modal__backdrop__mPVil {
  background-color: var(--color-neutral-darkest);
  opacity: 0.4;
  filter: blur(1.5rem);
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.root-module_xalert-modal__content__EOPQX {
  max-width: 448px;
  background: var(--color-neutral-lightest);
  border-radius: 24px;
  box-shadow: 0px 6px 12px -1px rgba(24, 39, 75, 0.1);
  display: flex;
  flex-direction: column;
  padding: 0px;
  isolation: isolate;
}

.root-module_xalert-modal__header__XoAND {
  padding: 24px 24px 0 24px;
  display: flex;
  justify-content: flex-end;
}

.root-module_xalert-modal__body__z3zBz {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--xbox-padding-m) var(--xbox-padding-xl);
}

.root-module_xalert-modal__body__image__LfNCK {
  max-width: 110px;
  margin-bottom: var(--xbox-padding-xl);
}

.root-module_xalert-modal__body__title__E4y6R {
  margin-bottom: var(--xbox-padding-xl);
}

.root-module_xalert-modal__body__message__qOIrH {
  color: var(--color-neutral-dim);
}

.root-module_xalert-modal__actions__TiEa5 {
  display: flex;
  justify-content: space-between;
  padding: var(--xbox-padding-m) var(--xbox-padding-xl);
  gap: var(--xbox-padding-xs);
}

.grid-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.listWrapper {
  margin-top: 4rem;
}

  .root-module_filter-component__C4Mmr {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .root-module_filter-container__cbkC0 {
    width: 280px;
  }

.root-module_xcontainer_filter__cEYyE {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.root-module_xcontainer_filter__cEYyE > .root-module_container_filter__item__IchDn {
  cursor: pointer;
}

.root-module_xcontainer_filter__title__ZdzKr {
  color: #999;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.8px;
}

.root-module_xcontainer_filter__item__dyeBW {
  border: 2px solid #f5f5f5;
  padding: 12px 16px 12px 24px;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.root-module_xcontainer_filter__item--selected__93n0o {
  border: 2px solid #1f1f1f;
}

.root-module_xcontainer_filter__item--selected__93n0o > div > div:nth-child(1) {
  border: 2px solid #1f1f1f;
}

.root-module_categories-wrapper__body__ytY1c {
  overflow-y: auto;
  height: calc(100vh - 112px);
  width: 100%;
  display: flex;
  flex-direction: row;
  gap:8px;
}

.root-module_categories-wrapper__body__list__HXHrh {
  min-width: 300px;
}

.root-module_categories_item__0lWDM:hover, .root-module_categories_item__selected__tR3wv {
  cursor: pointer;
  > div > div > div > * {
    color: var(--primary-color);
    stroke: var(--primary-color);
    opacity: 0.8;
  }
  > div > div > div > * {
    color: var(--primary-color);
    opacity: 0.8;
  }
}

.root-module_categories_item__list__L8jwG {
  cursor: pointer;
  width: 200px;
  > div:nth-child(2){
    color: var(--primary-color);
  }
}

.root-module_categories_item__list__name__FFurE:hover {
  cursor: pointer;
  > div  {
    color: var(--primary-color);
    opacity: 0.8;
  }
}



.root-module_categories_seeAll__DC3fe {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 56px;
    > hr {
      background: #000;
    }
}

[class="root-module_xdrawer__content"]{
  background: blue;
}

.search-component-filter {
    position: relative;

    .search-icon {
        position: absolute;
        left: 1.5rem;
        > div {
          color: #999999;
        }
        /* font-size: 2rem; */
        top: 50%;
        transform: translateY(-50%);
    }

    .close-icon {
        position: absolute;
        right: 1.5rem;
        > div {
          color: #999999;
        }
        cursor: pointer;
        /* font-size: 2rem; */
        top: 50%;
        transform: translateY(-50%);
    }

    .search-input {
        width: 100%;
        padding: 1rem 1rem 1rem 4rem;
        border: solid #999999 0.2rem;
        border-radius: 100rem;
    }

    .search::-moz-placeholder {
        font-weight: 300;
    }

    .search::placeholder {
        font-weight: 300;
    }
}

.header-container {
  z-index: 1000;
  background-color: #AF1212;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
}
.header {
  max-width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem 2rem;
  transition: all 500ms ease;
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 100%;
  }
}

.header-left {
  display: flex;
  align-items: center;
  gap: 2rem;
  .header-logo {
    width: 50px;
  }
}

.header-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header__register-button {
  text-decoration: none;
  color: black;
  display: flex;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 200ms ease;
}
.header__register-button:hover {
  color: var(--black-hover);
}
.header.sticky {
  padding: 1rem 2rem;
}
.header-container.sticky {
  height: auto;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.096);
}
@media screen and (max-width: 992px) {
  .header-left {
    gap: 1;
  }
  .header__login-button {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .header-logo {
    width: 14rem;
  }
}

.root-module_xdivider__vertical__gCbVo{
  border-right:1px solid #f0f0f0;
  height: 32px;
}

.root-module_xheader__viI2o {
  width: 100%;
  color:white;
}

.root-module_xheader__profile__L66F1 {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}

.root-module_xheader__profile-clickable__Q-xd- {
  cursor: pointer;
}

.root-module_xheader__profile_logout__zJOkY{
  > button > div{
    color: white;
  }
}

.container {
  padding: 2rem;
  max-width: 95%;
  min-height: calc( 100vh - 254px);
  margin: 0 auto;
  margin-top: 8rem;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

.slider {
  height: 65rem;
  cursor: grab;
}
.slider:active {
  cursor: grabbing;
}
.slider-item {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center !important;
  background-size: cover !important;
}
.slider-item__content.show {
  top: 50%;
  opacity: 1;
}
.slider-item__content {
  opacity: 0;
  transition: all 500ms ease;
  position: absolute;
  width: 40%;
  top: 80%;
  left: 10rem;
  transform: translateY(-50%);
}
.slider-title {
  font-size: 7rem;
  font-weight: 500;
}
.slider-des {
  font-size: 1.8rem;
  font-weight: 300;
}
.slider-buttons {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 1120px) {
  .slider-title {
    font-size: 5rem;
  }
}

@media screen and (max-width: 900px) {
  .slider-title {
    font-size: 4rem;
  }
  .slider-des {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 700px) {
  .slider {
    height: 40rem;
  }
  .slider-item__content {
    width: 60%;
    left: 5rem;
  }
  .slider-des {
    display: none;
  }
  .slider-title {
    font-size: 2.8rem;
  }
}

.new-product {
  padding: 1rem;
  margin-top: 2rem;
}
.new-product__head-title {
  text-align: center;
}
.head-title__main {
  font-size: 3rem;
  font-weight: 400;
}
.head-title__notic {
  color: var(--primary-color);
  font-size: 1.3rem;
  font-weight: 500;
}
.head-title__des {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
.new-product__wrapper {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
}
.new-product__button-wrapper {
  text-align: center;
  margin-top: 4rem;
}

.slider-component {
  margin: 8px 0;
}
.slider-component .swiper-zoom-container {
  margin: 4px;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap");
:root {
/* fonts */
--semibold-body-m-14: "Open Sans";

/* font sizes */
--semibold-body-m-14-size: 14px;
--bold-subtitle-s-20-size: 20px;
--bold-body-l-16-size: 16px;
--bold-title-m-36-size: 36px;

/* Colors */
--global-neutral-white: #fff;
--global-neutral-dark-30: #d6d6d6;
--global-neutral-dark-70: #5c5c5c;
--color-black: #000;
--global-neutral-dark-60: #7a7a7a;
--global-neutral-dark-90: #1f1f1f;
--global-neutral-dark-20: #f5f5f5;
--arcus-accent-arcus-green: #2cdfa6;

/* Gaps */
--gap-5xl: 24px;
--gap-base: 16px;
--gap-5xs: 8px;
--gap-9xs: 4px;

/* Paddings */
--padding-5xl: 24px;
--padding-9xs: 4px;
--padding-6xs: 7px;
--padding-6xs-5: 6.5px;
--padding-13xl: 32px;
--padding-151xl: 170px;
--padding-29xl: 48px;

/* border radiuses */
--br-5xl: 24px;
--br-81xl: 100px;
--br-smi: 13px;
}

.BannerHome-module_blurIcon__MpZ38 {
  position: relative;
  width: 462.77px;
}
.BannerHome-module_xboxBlur__WgCkB {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0.5px;
  width: 389px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 0;
}
.BannerHome-module_manBaseIcon__aN66O{
  position: relative;
  margin-left: -20px;
  z-index: 1;
}
.BannerHome-module_eIllustrationEasy__rURze {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
}
.BannerHome-module_xtext__np8-O,
.BannerHome-module_xtitle__ZD3Fh {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.05em;
  line-height: 100%;
}
.BannerHome-module_xtext__np8-O {
  font-size: var(--bold-subtitle-s-20-size);
  font-weight: 600;
  color: var(--global-neutral-dark-60);
}
.BannerHome-module_saludo__58ZaQ,
.BannerHome-module_xbox__lyxlh {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.BannerHome-module_saludo__58ZaQ {
  flex-direction: column;
  padding: var(--padding-13xl) var(--padding-13xl) var(--padding-13xl) 80px;
  gap: var(--gap-base);
  z-index: 2;
}
.BannerHome-module_xbox__lyxlh {
  border-radius: 32px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 34px #f6f6f6;
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  border: 1px solid var(--global-neutral-dark-20);
  overflow: hidden;
  flex-direction: row;
  position: relative;
  gap: var(--gap-5xl);
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}
.BannerHome-module_filledsystemsupportChild__j7b5I,
.BannerHome-module_pathIcon1__YTyJX {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.BannerHome-module_pathIcon1__YTyJX {
  height: 83.33%;
  width: 83.33%;
  top: 8.33%;
  right: 8.33%;
  bottom: 8.33%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.BannerHome-module_filledsystemsupport__XIWPc {
  position: relative;
  width: 32.5px;
  height: 32.5px;
}
.BannerHome-module_xboxSymbol__Z9YbH {
  border-radius: var(--br-smi);
  background-color: var(--global-neutral-dark-20);
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs-5);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.BannerHome-module_xtitle1__swabC {
  position: relative;
  letter-spacing: -0.05em;
  line-height: 100%;
}
.BannerHome-module_xbadge__-uiEd {
  border-radius: var(--br-81xl);
  background-color: var(--global-neutral-dark-90);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-6xs);
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--bold-body-l-16-size);
  color: var(--global-neutral-white);
}
.BannerHome-module_xboxTitle__hbTCs,
.BannerHome-module_xboxTitle1__Jb0-t {
  display: flex;
  justify-content: flex-start;
}
.BannerHome-module_xboxTitle1__Jb0-t {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-5xs);
}
.BannerHome-module_xboxTitle__hbTCs {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.BannerHome-module_xbox2__MbmkI,
.BannerHome-module_xtext2__9nqLE {
  align-self: stretch;
}
.BannerHome-module_xbox2__MbmkI {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.BannerHome-module_xtext2__9nqLE {
  position: relative;
  font-size: var(--semibold-body-m-14-size);
  letter-spacing: -0.05em;
  line-height: 100%;
  font-weight: 600;
  color: var(--global-neutral-dark-70);
}
.BannerHome-module_xbox1__Ndkb6 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  z-index: 0;
}
.BannerHome-module_eBannerhome__jfsYq,
.BannerHome-module_xitemCardSolicitudes__HQJNn {
  flex-direction: row;
  justify-content: flex-start;
}
.BannerHome-module_xitemCardSolicitudes__HQJNn {
  border-radius: var(--br-5xl);
  background-color: var(--global-neutral-white);
  box-shadow: var(--shadow-standard-small);
  border: 1px solid var(--global-neutral-dark-30);
  box-sizing: border-box;
  width: 360px;
  display: none;
  padding: var(--padding-5xl);
  align-items: center;
  z-index: 0;
  font-size: var(--bold-subtitle-s-20-size);
  color: var(--color-black);
}
.BannerHome-module_eBannerhome__jfsYq {
  position: relative;
  width: 100%;
  min-height: 257px;
  display: flex;
  align-items: flex-end;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--bold-title-m-36-size);
  color: var(--global-neutral-dark-90);
  font-family: var(--semibold-body-m-14);
}

.product-slider {
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
  height: 42rem;
}
.product-slider__main-image {
  width: 40rem;
  height: 40rem;
  -o-object-fit: contain;
     object-fit: contain;
  border: 0.2rem solid rgba(0, 0, 0, 0.096);
  border-radius: 0.5rem;
}
.swiper-product-images-slider {
  height: 100% !important;
}
.product-slider__images {
  display: flex;
  align-items: center;
}
.product-slider__images > .swiper-wrapper {
  height: 100% !important;
}
.product-slider__images > .swiper-vertical {
  height: 32rem;
}
.product-slider__images > .swiper-slide {
  width: 10rem;
  height: 10rem !important;
}

.product-slider__images-image {
  padding: 1rem;
  cursor: pointer;
  width: 10rem;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  border: 0.1rem solid rgba(0, 0, 0, 0.103);
  border-radius: 0.5rem;
}
.product-slider__images-image.active-slide {
  border: 0.2rem solid var(--primary-color) !important;
}

@media screen and (max-width: 990px) {
  .product-slider {
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
  }
  .product-slider > img {
    width: 100%;
  }
  .product-slider__images > div {
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }
}

.related-product .swiper-pagination {
  bottom: 0rem;
}

.footer {
  margin-top: 2rem;
  background-color: #F5F5F5;
  text-align: center;
}
.footer__content {
  padding: 4rem;
}
.footer__title {
  font-size: 2.3rem;
  font-weight: 500;
}
.footer__discription {
  margin-top: 0.2rem;
  font-size: 1.3rem;
  font-weight: 400;
}
.sub-footer {
  width: 100%;
  background-color:rgb(53, 53, 53);
  color: white;
  padding: 1rem;
}
.footer__copyright {
  color: white;
  font-size: 1.3rem;
  font-weight: 300;
}
.footer__link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .footer__content {
    padding: 2rem;
  }
}

.root-module_xlogin_request_access__Dt-oZ {
  cursor: pointer;
  color:#3069AF;
}

.product-page {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.product-page__path {
  font-size: 1.4rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.438);
  margin-bottom: 2rem;
}
.product-page__path-link {
  color: black !important;
  text-decoration: none;
}
.product-page__content {
  padding: 2rem;
  width: 100%;
}
.product-page__content__title {
  font-size: 2.5rem;
  font-weight: 500;
}
.product-page__content__date {
  font-size: 1.3rem;
  font-weight: 500;
  color: rgb(112, 112, 112);
}
.product-page__content__prices {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: left;
}
.product-page__content__non-discount-price {
  font-size: 1.4rem;
  display: block;
  color: rgba(0, 0, 0, 0.507);
}
.product-page__content__price {
  font-size: 2rem;
  margin-top: 2rem;
  font-weight: 400;
}
.product-page__line {
  width: 100%;
  height: 1px;
  border: none;
  background-color: rgba(0, 0, 0, 0.096);
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.product-page__status {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.product-page__status > h4 {
  font-size: 1.5rem;
  font-weight: 400;
}
.product-page__status__stock {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.product-page__status__stock-text {
  display: flex;
  align-items: center;
}
.product-page__status__stock-icon {
  color: green;
  font-size: 2rem;
}
.product-page__status__out-stock-icon {
  color: red;
  font-size: 2rem;
}
.product-page__buy-section {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 3rem;
}
.product-page__buy-section__input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.product-page__buy-section__input > input {
  width: 5rem;
  padding: 1rem;
}
.product-page__buy-section__input > h4 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 1rem;
}
.product-page__warn-message {
  font-size: 1.4rem;
  font-weight: 300;
  margin-top: 2rem;
}
.product-page__discription {
  margin-top: 2rem;
}
.product-page__discription__title {
  font-size: 2.5rem;
  font-weight: 500;
}
.product-page__discription__text {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1.5rem;
}
.product-page__discription__features {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
.product-page__discription__feature {
  font-size: 1.4rem;
  font-weight: 400;
  margin-left: 4rem;
}
.product-page__sugested-product {
  margin-top: 2rem;
}
.product-page__sugested-product__title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
/* skeleton loading  */

.product-skeleton-loading {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  margin-top: 3rem;
}
.product-skeleton-loading.non-flex {
  display: block;
}
.product-skeleton-loading div {
  position: relative;
  background-color: #ececec;
  border-radius: 0.5rem;
  overflow: hidden;
}
.product-skeleton-loading div::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.253),
    rgba(255, 255, 255, 0.623),
    rgba(255, 255, 255, 0)
  ) !important;
  animation: shimmer 2s infinite;
  content: '';
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.product-skeleton-loading__left__image {
  width: 40rem;
  height: 40rem;
  margin-left: 10rem;
}
.product-skeleton-loading__right {
  margin-top: 4rem;
  width: 100%;
}
.product-skeleton-loading__right__title {
  width: 85%;
  height: 4rem;
}
.product-skeleton-loading__right__price {
  width: 10rem;
  height: 3rem;
  margin-top: 2rem;
}
.product-skeleton-loading__right__date {
  width: 12rem;
  height: 1rem;
  margin-top: 1rem;
}
.product-skeleton-loading__right__buy {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.product-skeleton-loading__right__buy__text {
  width: 10rem;
  height: 4rem;
}
.product-skeleton-loading__right__buy__button {
  width: 20rem;
  height: 4rem;
}
.product-skeleton-loading__paragraph {
  margin-top: 2rem;
  width: 100%;
  height: 8rem;
}
.product-skeleton-loading__dis-title {
  width: 15rem;
  height: 3rem;
}
.product-skeleton-loading__dis-text {
  margin-top: 1rem;
  height: 8rem;
  width: 100%;
}

@media screen and (max-width: 990px) {
  .product-page {
    flex-direction: column;
  }
  .product-skeleton-loading {
    flex-direction: column;
    gap: 0.5rem;
  }
  .product-page__content {
    padding: 0;
  }
  .product-skeleton-loading__left__image {
    width: 100%;
    margin: 0;
  }
  .product-page__buy-section,
  .product-page__status {
    flex-direction: column;
    gap: 3rem;
  }
}

.cart-page {
  margin-top: 2rem;
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
  justify-content: space-between;
}
.cart-page__title {
  margin-top: 2rem;
  font-size: 2.5rem;
  font-weight: 500;
}
.cart-page__right__summery-box {
  width: 30rem;
  padding: 2.5rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
.cart-page__right__summery-box__title {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.cart-page__right__summery-box__order-price {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 1rem;
}
.cart-page__discount-copon {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}
.cart-page__discount-copon__input {
  width: 100%;
}
.cart-page__submit {
  margin-top: 2rem;
  width: 100%;
}
.cart-page__test-important {
  color: red;
}
.cart-page__right__summery-box__discription {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  font-weight: 400;
}
.cart-page__left {
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  width: 60vw;
  min-width: none;
  padding: 2.5rem;
  text-align: center;
}
.cart-page__left-products {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 40rem;
  overflow: auto;
}
.cart-page__left-products > .shop-cart__item {
  border: 0.1rem rgba(0, 0, 0, 0.055) solid;
  border-radius: 0.7rem;
}
.cart-page__left__empty-cart {
  width: 20rem;
}
.cart-page__left__empty-cart__title {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cart-page__right__summery-box__discount-status {
  font-size: 1.4rem;
  font-weight: 400;
}

@media screen and (max-width: 850px) {
  .cart-page {
    flex-direction: column-reverse;
  }
  .cart-page > div {
    width: 90vw;
  }
  .cart-page__right__summery-box {
    width: 100%;
  }
}

.shop {
  width: 94vw;
  min-height: calc(100vh - 31.6rem);
}
.shop_filter__selecteds{
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
  padding: 8px;
  > button {
    cursor: pointer;
  }
}

.not-found {
  margin-top: 25rem;
  text-align: center;
}
.not-found__title {
  font-size: 8rem;
  font-weight: 400;
}
.not-found__discription {
  font-size: 2rem;
  font-weight: 300;
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.category {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.catagory__link {
  position: relative;
  margin: 0 auto;
  text-decoration: none;
}
.catagory__image {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.123);
  width: 25rem;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
  transition: all 200ms ease;
  text-decoration: none;
}
.catagory__link:hover > .catagory__image {
  filter: brightness(50%);
}
.catagory__text {
  opacity: 0;
  visibility: hidden;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  color: white;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 200ms ease;
}
.catagory__link:hover > .catagory__text {
  opacity: 1;
  visibility: visible;
  top: 50%;
}

@media screen and (max-width: 1150px) {
  .category {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 850px) {
  .category {
    gap: 4rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .category {
    gap: 3rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .catagory__image {
    filter: brightness(50%);
  }
  .catagory__text {
    visibility: visible;
    opacity: 1;
    top: 50%;
  }
  .catagory__image,
  .catagory__link {
    width: 100%;
  }
}
